*{
    padding: 0px;
    margin: 0px;
    font-family: 'Source Sans Pro', sans-serif;
}

//Promenljive

$bg-plava: #0a192f;
$bela: #fff;
$svetlo-plava: #2196f3;
$siva: #c2c3c7;

//mixin
@mixin tag {
    font-size: 20px;
    font-family: 'Shadows Into Light', cursive;
    color: $bela;
    
}

@mixin tag-cl {
    float: right;
    color: $bela;
}

@mixin after {
            content: "";
            display: block;
            position: relative;
            top: 2px;
            height: 1px;
            margin-left: 20px;
            background-color: $siva;
            width: 30%;
}

@mixin pozicioniranje {
    width: 80%;
    margin: 40px auto;
    padding: 100px 0px;
}

html {
    scroll-behavior: smooth;
}

.typing {
    width: 27ch;
    animation: typing 3s steps(27), blink .3s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    font-family: monospace;
    font-size: 50px;
    border-right: 2px solid;
}

.typing1 {
    width: 19ch;
    animation: typing 3s steps(19), blink .3s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    font-family: monospace;
    font-size: 50px;
    border-right: 2px solid;
}

.typing2 {
    width: 22ch;
    animation: typing 3s steps(22), blink .3s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    font-family: monospace;
    font-size: 50px;
    border-right: 2px solid;
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-150px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
  }

  @keyframes fadetop {
    0% {
        opacity: 0;
        transform: translatey(-50px);
    }
    100% {
        opacity: 1;
        transform: translatey(0);
    }
  }


  @keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(150px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
  }

@keyframes animate {
    100%{
        transform: scaleX(1);
    }
}
    

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}
a {
    text-decoration: none;
    color: $bela;
}

body {
    background-color:$bg-plava ;
}

header {
    height: 100vh;
    

    #pre-header {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        height: 100px;
        width: 100%;
        position: fixed;
        top: 0;
        background-color: rgba(10, 25, 47, 0.85);
        z-index: 100;
        
        

        #logo {
            
        
            h1 {
                a {
                    color:$bela;
                    text-transform: uppercase;
                    margin-left: 20px;
                    font-size: 28px;
                }
                
            }
            .logo-tag {
                color: $svetlo-plava;
                
            }
        }
    
        nav {
            
            margin-right: 30px;
            ul {
                display: inline-block;
                
    
                li {
                    list-style: none;
                    margin-left: 10px;
    
                    a{ 
                        color:$bela;
                        text-transform: uppercase;
                        text-decoration: none;
                        transition: 0.2s;
                        transition-delay: 0.2s;
                    }
                    a:hover {
                        color: $svetlo-plava;
                        transition: 0.3s;
                        
                    }
                }
            }
        }
    }
    
}

 
#header-text {
    color: $bela;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
      
   
   
    .container
  {
    
    

    h2 {
        font-size: 65px;
        letter-spacing: 10px;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    h1 {
        font-size: 16px;
        letter-spacing: 3px;
        color: $svetlo-plava;
        margin-bottom: 20px;
    }

    h3 {
        font-size: 65px;
        color: $siva;
        margin-bottom: 10px;
    }

    p {
        color: $siva;
        font-size: 16px;
        margin-top: 30px;
        margin-bottom: 50px;
       
    }

    .tag {
        @include tag;
    }

    .tag-cl {
        @include tag-cl;
        margin-top: 60px;
        
    }
    
    a {
        color: $svetlo-plava;
        letter-spacing: 4px;
        padding: 7px 20px;
        text-transform: uppercase;
        font-size: 24px;
        overflow: hidden;
        transition: 0.2s;
        text-decoration: none;
        border: 1px solid $svetlo-plava;
    }

    a:hover {
         background: $svetlo-plava;
         color: $bela;
         box-shadow: 0 0 10px $svetlo-plava, 0 0 40px $svetlo-plava, 0 0 10px $svetlo-plava;
         transition-delay: 0.2s;
    }

}
}
    

#side-meni {
    width: 40px;
    position: fixed;
    color: $siva;
    left: 40px;
    bottom: 0px;

    ul {
        li {
            list-style-type: none;
            

            a{
                i {
                    padding: 10px;
                    font-size: 20px;
                    color: $siva;
                }

                i:hover {
                    color: $svetlo-plava;
                    transition: 0.3s;
                }
                
            }
        }

        &::after {
            content: "";
            display: block;
            width: 1px;
            height: 90px;
            margin: 0px auto;
            background-color: $siva;
            box-sizing: inherit;
        }
        
    }
    
    
}

#about-me {
    @include pozicioniranje;
    h2 {
        color: $bela;
        display: flex;
        align-items: center;

    }
    h2:after {
        @include after;
    }
    .tag {
        @include tag;
    }

    .tag-cl {
        @include tag-cl;
        
    }

    #about-me-blok {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 50px;

        #about-me-text {
            animation: fadeInLeft 1.2s both;
            width: 40%;
        
            
            p {
                color: $siva;
                font-size: 20px;
                margin-bottom: 20px;
            }
        }

        #about-me-img {
            width: 40%;
            animation: fadeInRight 1.2s both;
            
            #img-blok {
                margin: 0 auto;
                border: 4px solid #2094f3;
                box-shadow: 0 0 2px $svetlo-plava, 0 0 15px $svetlo-plava, 0 0 34px $svetlo-plava;
                width: 60%;
                
                
                img {
                    width: 100%;
                    position: relative;
                    top: -20px;
                    left: -20px;
                }

                img:hover {
                    background-color: rgba(32, 148, 243,0.4);
                }
                }
            }
        }
    
        .my-skills {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            .skills {
                margin: 150px auto;
                width: 40%;
                padding: 20px 25px;
                box-shadow: 4px 5px 19px 0px rgba(0,0,0,0.94);

                h3 {
                    color: $siva;
                }
                .block {
                    margin: 20px 0px;

                    .sk-blok {
                        span {
                            font-size: 17px;
                            font-weight: 500;
                            color: $siva;
                        }
                    }

                    .progress {
                        height: 5px;
                        width: 100%;
                        background: $siva;
                        position: relative;
                        transform: scaleX(0);
                        transform-origin: left;
                        animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
                        
                        span {
                            height: 100%;
                            width: 80%;
                            background: $svetlo-plava;
                            position: absolute;
                            transform: scaleX(0);
                            transform-origin: left;
                            animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;

                            &::after {
                                position: absolute;
                                right: 0;
                                top: -26px;
                                color: $bela;
                                font-size: 12px;
                                font-weight: 500;
                                background: #000;
                                padding: 1px 8px;
                                border-radius: 3px;
                            }


                            &::before {
                                position: absolute;
                                content:"";
                                right: 0;
                                top: -10px;
                                height: 0;
                                width: 0;
                                border: 8px solid transparent;
                                border-bottom-width:0px;
                                border-right-width: 0px;
                                border-top-color:#000 ;
                            }
                        }

                        
                    }
                    .html{
                        span {
                            width: 95%;

                            &::after {
                                content: "95%";
                            }
                        }
                    }
 
                    .css{
                     span {
                        width: 90%;

                        &::after {
                            content: "90%";
                        }
                     }
                 }
 
                 .js{
                     span {
                        width: 60%;

                        &::after {
                            content: "60%";
                        }
                     }
                 }
 
                 .bootstrap{
                     span {
                        width: 70%;

                        &::after {
                            content: "70%";
                        }
                     }
                 }
 
                 .sass{
                     span {
                        width: 80%;

                        &::after {
                            content: "80%";
                        }
                     }
                 }
 
                 .com{
                     span{
                        width: 90%;

                        &::after {
                            content: "90%";
                        }
                     }
                 }
 
                 .team{
                     span {
                        width: 95%;

                        &::after {
                            content: "95%";
                        }
                     }
                 }
 
                 .creativity{
                     span {
                        width: 80%;

                        &::after {
                            content: "80%";
                        }
                     }
                 }
 
                 .fast{
                     span {
                        width: 75%;

                        &::after {
                            content: "75%";
                        }
                     }
                 }
 
                 .adaptability{
                     span{
                         width: 85%;

                         &::after {
                            content: "85%";
                        }
                     }
                 }


                }
            }
        }
        
}

#project {
    @include pozicioniranje;



    .tag {
        @include tag;
    }

    .tag-cl {
        @include tag-cl;
        
    }
    
    h2 {
        display: flex;
        align-items: center;
        color: $bela;

        &::after {
            @include after;
        }
    }

    

    #my-project {
        
        
        h4 {
            text-align: center;
            margin-top: 100px;
            color: $svetlo-plava;
        }
        #flex-project {
            margin-top: 100px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;

            .slika {
                background-color:#112240;
                height: inherit;
                text-align: center;
                width: 30%;
                animation: fadetop 1.2s both;
               .blok-slika {
                img { 
                    width: 100%;
                   filter: opacity(0.5);
                   transition: 0.4s;
                }
               
                img:hover { 
                   filter: opacity(1);
                   transition: 0.4s;
                }
               } 

               .tech {
                display: flex;
                justify-content: space-evenly;
                margin-top: 20px;
                color: $bela;
                padding: 30px;
            }

               h3 {
                   color: $siva;
                   margin-top: 20px;
               }

               .fa-brands {
                   color: $bela;
                   font-size: 40px;
                  
               }

               .fa-html5:hover {
                   color: #e76f3f;
                   transition: 0.3s;
               }
               .fa-css3-alt:hover {
                color:$svetlo-plava;
                transition: 0.3s;
            }

            .fa-js:hover {
                color: #d6e417;
                transition: 0.3s;
            }

            }
        }

       
    }
}

#contact-me {
    width: 100%;
    text-align: center;
    margin-top: 150px;
    animation: fadeInLeft 1.2s both;


   

   
    .content-text {
        color: $bela;
        margin: 0px auto;

        h3{
            font-size: 60px;

        }

        p{
            font-size: 20px;
            color: $bela;
            word-wrap: break-word;
        }

        .how-contact {
            margin-top: 50px;
            display: flex;
            justify-content: space-evenly;
        

            .ikone {
                
                i {
                    font-size: 30px;
                    padding: 10px;
                    color: $bela;

                }
                a {
                    color: $bela;
                }

                .fa-whatsapp:hover {
                    color: #07d63b;
                    transition: 0.3s;
                }

                .fa-inbox:hover {
                    color: $bela;
                    transition: 0.3s;
                }

                .fa-instagram:hover {
                    color: #d6249f;
                    transition: 0.3s;
                }
            }
        }
    }

    .forma {
        width: 60%;
        margin: 100px auto;

        h4 {
            font-size: 25px;
            color: $bela;
        }
        form {
            
            .form-inp {
                width: 40%;
                margin: 0px auto;
                input {
                    background-color: transparent;
                    border: none;
                    border-bottom: 2px solid #2094f3;
                    width: 100%;
                    padding: 20px 10px;
                    
                }
                input:focus {
                    outline: none;
                    font-size: 15px;
                    font-weight: bold;
                }

                ::placeholder {
                    color: $bela;

                }
               

                textarea {
                    background-color: $bg-plava;
                    border: none;
                    width: 100%;
                    border-bottom: 2px solid #2094f3;
                    outline: none;
                    resize:none
                }
                
                textarea:focus {
                    outline: none;
                    font-size: 15px;
                    font-weight: bold;
                }
            }
        }
        .tag-cl {
            @include tag-cl;
            font-size: 20px;
            font-family: 'Shadows Into Light', cursive;
        }
    }
}

footer {
    text-align: center;
    color: $bela;
    height: 50px;
    

     a {
         padding: 5px 10px;

     }
}